alabaster==0.7.12
Babel==2.6.0
bleach==3.1.4
certifi==2018.11.29
chardet==3.0.4
Django==2.2.13
django-filter==2.0.0
django-sendsms==0.3.1
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
docutils==0.14
idna==2.8
imagesize==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
packaging==18.0
pkginfo==1.4.2
Pygments==2.3.0
PyJWT==1.7.1
pyparsing==2.3.0
pytz==2018.7
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.8.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
tqdm==4.28.1
twine==1.12.1
urllib3==1.24.2
webencodings==0.5.1
